<div class="recipe">
  <div class="recipe__header">
    <h2 data-cy="recipe">{{recipe.recipe}}</h2>
    <span class="recipe__header__author" data-cy="author">{{recipe.author}}</span>
  </div>
  <div class="recipe__content">
    <div *ngIf="!!recipe.comments.length; else noCommentsFound">
      <span class="recipe__content__title">Comments</span>
      <div class="comments" *ngFor="let comment of recipe.comments">{{comment}}</div>
    </div>
    <div *ngIf="!!recipe.ingredients.length; else noIngredientsFound">
      <span class="recipe__content__title">Ingredients</span>
      <div class="ingredients" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</div>
    </div>
  </div>
  <div class="recipe__options">
    <div>
      <button (click)="deleteRecipe(recipe.id)" data-cy="delete">Remover</button>
    </div>
  </div>
</div>

<ng-template #noCommentsFound>
  <div class="recipe__content__title recipe__content__title--no-content" data-cy="no-comments-found">no comments found</div>
</ng-template>

<ng-template #noIngredientsFound>
  <div class="recipe__content__title recipe__content__title--no-content" data-cy="no-ingredients-found">no ingredients found</div>
</ng-template>
